// Project

.cell-panel {
    /* height: 30px; */
    background: #66ccff;
}


.page-outer{
    height: 100%;
    width: 100%;
    padding : 32px 48px 0 48px;
}

.page-inner{
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: auto;
}


// CellPanel
.card {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.01);
    transition: all 0.3s ease-out;
    padding: 8px;
}

.border-card {
    border: 1px solid #dee0e3;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.item {
    margin-bottom: 8px;
}

.work-card-ghost {
    opacity: 0.5;
}
